<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <% if (cart && cart.length > 0) { %>
      <h2>Your Cart</h2>
      <ul>
        <% cart.forEach(item => { %>
          <hr>
          <li><strong>Book Name:</strong> <%= item.bookTitle %></li>
          <li><strong>Author:</strong> <%= item.bookAuthor %></li>
          <li><strong>Price:</strong> $<%= item.bookPrice %></li>
          <li><strong>Quantity:</strong> <%= item.bookQuantity %></li>
          <li><strong>Subtotal:</strong> $<%= item.bookQuantity * item.bookPrice %></li>
          <button class="remv" data-index="<%= index %>">Remove</button>
          <button class="check">Checkout</button>
          <hr>
        <% }); %>
      </ul>
  <% } else { %>
      <p>Your cart is empty.</p>
  <% } %>
</main>



<footer>
  <%- include('../partials/footer'); %>
</footer>
<script>
document.querySelectorAll('.check').forEach(button => {
    button.addEventListener('click', () => {
        window.location.assign('/contact.html');
    });
});



</script>
</body>
</html>