<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <% if (cart && cart.length > 0) { %>
      <h2>Your Cart</h2>
      <ul>
        <% cart.forEach(item => { %>
          <hr>
          <li><strong>Book Name:</strong> <%= item.bookTitle %></li>
          <li><strong>Author:</strong> <%= item.bookAuthor %></li>
          <li><strong>Price:</strong> $<%= item.bookPrice %></li>
          <hr>
        <% }); %>
      </ul>
  <% } else { %>
      <p>Your cart is empty.</p>
  <% } %>
</main>



<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="https://kit.fontawesome.com/a8cfb27db5.js" crossorigin="anonymous"></script>
</body>
</html>